h1,h2,h3,h4,h5,h6,p,li,ul,div,label,input{
  padding: 0;
  margin: 0;
}

a,input {
  text-decoration: none;
  outline: 0;
  &:active, &:hover, &focus {
    outline: 0;
  }
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input{
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}