.rich-checkbox-buttons{
  width: 260px;
  display: flex;
  flex-direction: column;

  .rich-checkbox-buttons__description{
    font-family: $Font;
    font-size: 12px;
    line-height: 15px;
    color: $darkShadeColor-75;
    font-weight: 700;
    text-transform: uppercase;

    padding-bottom: 5px;
  }

  .rich-checkbox-buttons__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .rich-checkbox-buttons__item {
    display: block;
    position: relative;
    margin-top: 10px;
    cursor: pointer;

    div{
      padding-top: 1px;
      padding-left: 30px;
    }

    .item__heading {
      margin-bottom: 6px;

      font-family: $Font;
      font-size: 14px;
      line-height: 18px;
      color: $darkShadeColor-75;
      font-weight: 700;
    }

    .item__description {
      font-family: $Font;
      font-size: 12px;
      line-height: 14px;
      color: $darkShadeColor-50;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }

  .item__checkmark {
    position: absolute;
    top: 0;
    padding: 5px 5px 7px 5px;
    background: #FFFFFF;
    border: 1px solid $darkShadeColor-25;
    border-radius: 4px;
  }

  .rich-checkbox-buttons__item input:checked ~ .item__checkmark {
    border: 1px solid #BC9CFF;
  }

  .item__checkmark:after {
    content: "";
  }

  .rich-checkbox-buttons__item input:checked ~ .item__checkmark:after {
    padding: 2px 3px;
    border-bottom: 2px solid $purpleColor;
    border-left: 2px solid $purpleColor;
  }

  .rich-checkbox-buttons__item .item__checkmark:after {
    display: block;
    padding: 3px 4px;
    transform: rotate(-45deg);
  }

  *{
    user-select: none;
  }
}


